<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h2, initial-scale=1.0">
    <title>Tekken-Reborn Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Welcome to the home page of the Tekken-Reborn. It is the game where multiple fighter fight with each other.</p>
     <img th:src="@{/images/TekkenWallpaper.jpg}" alt="Tekken Reborn" height="400" width="700"/>
</body>
</html>